
canvas {
    display: block; 
    margin: auto;
    border: 2px solid rgb(150, 60, 150);
    box-shadow: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    right: 0;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family:'BenchNine', sans-serif;
}

#header{
    font-size: 50px;
    text-align: center;
}
#positivity-points{
    position: absolute;
    top:3px;
    left: 10px;
}

#instructions{
    font-size: 23px;
    width: 20vw;
    padding-left: 3%;
    position: absolute;
    display: block;
    top: 50px;
    bottom: 0;
}

.outer-div-wrap{
    display: flex;
    flex-direction: row;
}


#high-scores{
    position: absolute;
    top:50px;
    right:30px;
    bottom:0;
    font-size: 23px;
    width: 20vw;
    padding-left: 3%;

}

#contact{
    position: absolute;
    bottom: 0;
    bottom:2%;
    left: 35%;
}
#contact-wrap{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.fab{
    font-size: 50px;
    color: black;
}
#icon :hover{
    color: rgb(194,89,201);
}

#game-over, #game-over-cover {
    margin: auto;
    width: 650px;
    height: 505px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}

#game-over-cover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    opacity: 0.5;
}

#game-over {
    text-align: center;
    color: black;

}

#game-over h1 {
    font-size: 70px;
}

#play-again{
    font-size: 25px;
    width: 125px;
    border-radius: 2px;
    font-family:'BenchNine', sans-serif;
    border: 1px solid black;
    box-shadow: black;
}

.fas {
    font-size: 50px;
    color: black;
}

#play-music-icon :hover{
    color: rgb(194,89,201);
}
